<div class="footer section-padding" id="contactUs">
    <div class="footer-heading">
      <h1 class="footer-text">Faites confiance à Vans Transport Company</h1>
    </div>
  
    <div class="footer-links">
      <div class="footer-links_logo">
        <p><br /> All Rights Reserved</p>
      </div>
  
      <div class="footer-links_div">
        <h4>Company</h4>
        <p>
          Adresse : <span class="info">3 rue Hélène Loiret, Meudon</span>
        </p>
        <p>
          Président de la société : <span class="info">Mr.Akhalkatsi Tamaz</span>
        </p>
       
      </div>
      <div class="footer-links_div">
        <h4>Get in touch</h4>
        <p>
          E-Mail: <span class="info">vanstransportcompany&#64;gmail.com</span>
        </p>
        <p>
          Transport de personnes par VTC : <span class="info">+33753726150</span>
        </p>
      </div>
      <div class="footer-links_div">
        <h4>Links</h4>
        <p>Social Media:</p>
        <a
          href="https://www.instagram.com/vans_transport_company/"
          target="_blank"
        >
          <img class="instagram" src="assets/instagram.png" />
        </a>
        
      </div>
    </div>
  
    <div class="footer-copyright">
      <p>&#64;2024 VansTransportCompany. All rights reserved.</p>
    </div>
  </div>
  