<div class="card">
   
    <p-accordion (activeIndexChange)="activeIndexChange($event)" [activeIndex]="activeIndex">
        <p-accordionTab header="Peut-on bénéficier de vos services dans toute la France ?">
            <p class="m-0">
                Oui, basée dans la région parisienne, Vans Transport company assure vos voyages dans la capitale ainsi que dans toute la France et va au delà des frontières dans toute l’Europe.
            </p>
        </p-accordionTab>
        <p-accordionTab header="Comment peut on réserver une course ?">
            <p class="m-0">
                Vous pouvez nous contacter par mail ou par téléphone afin de réserver un voyage. Notre priorité est de vous répondre dans les meilleurs délais. (vanstransportcompany&#64;gmail.com, Transport de personnes par VTC : 0753726150, Livraison de marchandises et déménagement : 0769212818)
            </p>
        </p-accordionTab>
        <p-accordionTab header="Cette compagnie assure-t’elle tout type de déplacement ?">
            <p class="m-0">
                Oui, que vos trajets soient courts ou longs, vous pouvez faire appel à notre société.
            </p>
        </p-accordionTab>
    </p-accordion>
</div>
