<div class="container" id="about-us" >
 
  <img src='assets/pngwing.com.png'class="image"   />
  <div class="content">
    <h1>Déplacements haut de gamme avec Vans Transport Company</h1>
    <p>
      Des chauffeurs expérimentés et aimables qui vous accompagneront et assureront votre sécurité et bien-être durant tous vos trajets, qu’ils soient courts ou longs. Profitez de notre environnement luxueux ainsi que le confort que nous vous offrons, toujours apprécié par nos clients.
    </p>
    
  </div>
</div>