<div class="container">
    <div>
        <h1>WHY US?</h1>
    </div>
    <div class="card_container">
        <div class="card flex justify-content-center">
            <p-card header="Experianced Driver" [style]="{ width: '280px', height: '450px'}">
                <ng-template pTemplate="header">
                    <img alt="driver image" src="assets/driver.avif" class="driver_image"/>
                </ng-template>
                <p>
                    Our drivers bring over 10 years of experience to the road, ensuring your transportation is in the safest hands. Trust in their expertise for a smooth and reliable journey every time.
                </p>
                
            </p-card>
        </div>
        <div class="card flex justify-content-center">
            <p-card header="Comfort" [style]="{ width: '280px', height: '450px'}">
                <ng-template pTemplate="header">
                    <img alt="comfortable car image" src="assets/comfort-car.jpeg" class="comfortable-car-image"/>
                </ng-template>
                <p>
                    Our fleet features the latest vehicles, equipped with all the essential tools for your comfort. Enjoy a smooth and relaxing ride every time you travel with us.
                </p>
                
            </p-card>
        </div>
        <div class="card flex justify-content-center">
            <p-card header="Low Price" [style]="{ width: '280px', height: '450px'}">
                <ng-template pTemplate="header">
                    <img alt="low-price-image" src="assets/low-price.jpg" class="low-price-image"/>
                </ng-template>
                <p>
                    Our prices are the lowest in the market, making quality transportation affordable for everyone.
                </p>
                
            </p-card>
        </div>
    </div>
    
</div>
